
<nav class="navbar navbar-expand-lg navbar-light fixed-top"
  id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" [routerLink]="['/']" >HOME</a>
    <button class="navbar-toggler navbar-toggler-right" type="button"
      data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link js-scroll-trigger"
            href="#activities">Activities</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger"
            href="#services">Professionals</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger"
            href="/facilities">Facilities</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger"
            href="#contact">Contact</a></li>

        <li class="nav-item">
          <label class="btn btn-warning" >
            <a [routerLink]="['/login']" style="text-decoration: none;">Login</a>
          </label>
          <label class="btn btn-warning" >
            <a [routerLink]="['/register']" style="text-decoration: none;">Sign in</a>
          </label>
        </li>
      </ul>
    </div>
  </div>
</nav>
