<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a [routerLink]="['/']" >HOME</a>

        <!--a class="nav-link js-scroll-trigger"
            href="#activities">Activities</a>
        <a class="nav-link js-scroll-trigger"
            href="#services">Professionals</a>
        <a class="nav-link js-scroll-trigger"
            href="/facilities">Facilities</a>
        <a class="nav-link js-scroll-trigger"
            href="#contact">Contact</a-->

      <div class="navbar">
        <li *ngFor="let navbar of listnavbar"
          [class.selected]="navbar === selectedList"
          (click)="onSelect(navbar)"
          routerLink="/{{navbar.name}}">
            {{navbar.name | uppercase}}
        </li>

    <label class="btn btn-primary" >
      <a [routerLink]="['/login']" style="text-decoration: none;"> Login </a>
    </label>
    <label class="btn btn-warning" >
      <a [routerLink]="['/register']" style="text-decoration: none;">Sign in</a>
    </label>
  </div>
</nav> 
    
    

