<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Courses</h4>
                </div>
                <div class="content">
                    <ul *ngFor="let course of courses">
                        <h4>
                            <u>{{course.name}}</u>:
                            <h6>{{course.description}}</h6>
                        </h4>
                        <br>
                        <ul *ngFor="let schedule of course.schedules">
                            <li type="circle">
                                <a>Participants in Schedule {{schedule.idSchedule}}: {{schedule.listUsers.length}} </a>
                            </li>
                            <li type="circle">
                                <a>Users: {{schedule.listUsers}} </a>
                            </li>
                        </ul>
                        <li type="circle">
                            <a class="btn btn-main btn-enter btn" data-name="{{course.name}}" data-id="{{course.id}}" >
                                Delete {{course.name}}
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                    <br>
                    <a class="btn" [routerLink]="['/courses']">
                        View Current Courses</a>
                    <a class="btn" [routerLink]="['/admin/controlCourses/addCourse']">
                        Add New Course</a>
                </div>
            </div>
        </div>
    </div>
</div>