<div *ngIf="courseDelete" class="alert alert-success">
    <strong>COURSE DELETE</strong> Course delete correctly
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Courses</h4>
                </div>
                <div class="content">
                    <ul *ngFor="let course of courses">
                        <h4>
                            <u>{{course.name}}</u>:
                            <h6>{{course.description}}</h6>
                        </h4>
                        <br>
                        <ul *ngFor="let schedule of course.schedules">
                            <li type="circle">
                                <strong>Participants in Schedule {{schedule.schedule}}: </strong>
                                <br>
                                <a>{{schedule.listUsers.length}}</a>
                            </li>
                            <li *ngFor="let users of schedule.listUsers" type="circle">
                                <strong>User: </strong>
                                <br>
                                <a>{{users.name}} {{users.surname}} </a>
                            </li>
                        </ul>
                        <br>
                        <li type="circle">
                            <a class="btn btn-danger" (click)="deleteThisCourse(course.id)">
                                Delete {{course.name}}
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                    <br>
                    <a class="btn" [routerLink]="['/courses']">
                        View Current Courses</a>
                    <a class="btn" [routerLink]="['/admin/controlCourses/addCourse']">
                        Add New Course</a>
                </div>
            </div>
        </div>
    </div>
</div>