<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Courses</h4>
                </div>
                <div class="content" *ngFor="let course of courses">
                    <ul>
                        <h4>
                            <u>{{course.name}} </u>
                            <h6>{{course.description}}</h6>
                        </h4>
                        <br>
                        <ul *ngFor="let schedule of schedules">
                            <li type="circle">
                                <a>Participants in Schedule {{schedule.idSchedule}}: CAPACIDADLISTAUSUARIO </a>
                            </li>
                            <li type="circle">
                                <a>Users: LISTA DE USUARIOS </a>
                            </li>
                            <li type="circle">
                                <a class="btn btn-main btn-enter btn" data-coursename="name" data-idcourse="id" onclick="deleteCourse(this)">
                                    Delete Course
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </ul>
                    <br>
					<a class="btn " href="/courses">
						View Current Courses</a>
					<a class="btn " href="/adminPage/manageCourses/addCourse"> <!-- HAY QUE HACER EL ADDCOURSE -->
						Add New Course</a>
				</div>
			</div>
		</div>
	</div>
</div>