<ng4-loading-spinner></ng4-loading-spinner>
<section class="hero">
  <div class="container">
    <p align="center" style="font-size:26px"> Facilities in your Gym </p>
    <a id="facility">We’re here to help all our members feel positive, motivated and in the perfect mood for a workout. That’s why all our
      gyms are bright and spacious with a laid- back atmosphere, so when you come in, you feel as comfortable as a pair of
      old trainers. You’ll also find all the practical bits and bobs you need: showers and changing rooms, lockers – even
      vending machines in case you’ve left something at home. And to keep you safe and sound day and night, we’ve got a PIN
      entry door system for our members.</a>
    <div class="row" id="listFacilities">
      <div class="col-md-3" *ngFor="let facility of facilities">
        <div class="card">
          <img class="size-img-facilities" [src]="getUriImage(facility.src)">
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="styleMoreFacilities">
      <div *ngIf="finished" class="alert alert-secondary align-content-center">
        <strong>There are no more results</strong>
      </div>
      <div id="spinner"></div>
      <p class="text-center">
        <button type="button" class="btn btn-primary" (click)="moreCourses()">See more</button>
    </div>
    <button type="submit" class="btn btn-warning" id="goBack" [routerLink]="['/']">Go back</button>
  </div>
</section>
