<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 mx-auto">
                <div class="card border-none">
                    <div class="card-body">
                        <div class="mt-2 text-center">
                            <h2>Create Your Account</h2>
                        </div>
                        <p class="mt-4 text-white lead text-center">Sign up to get
                            started</p>
                        <div class="mt-4" aling="center">
                            <form role="form" [formGroup]="userRegister" #formDir="ngForm" (ngSubmit)="onSubmit(userRegister)">
                                <!-- Method to not saw the password -->
                                <div class="form-group">
                                    <input type="text" class="form-control" name="nickname" formControlName="nickname"
                                        placeholder="Acount nickname">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" formControlName="username"
                                        placeholder="Acount name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="surname" formControlName="surname"
                                        placeholder="Acount surname">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" formControlName="email"
                                        placeholder="Enter email address">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" formControlName="password"
                                        placeholder="Enter password">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="passwordRepeat"
                                        name="confirm-password" placeholder="Confirm password">
                                </div>
                                <div style="float: left; width: 48%">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Create Account</button>
                                </div>
                                <div style="float: right; width: 48%">
                                    <button type="reset" class="btn btn-primary btn-block">
                                        Cancel</button>
                                </div>
                            </form>
                        </div>

                        <div class="clearfix"></div>
                        <p class="content-divider center mt-4">
                            <span>or</span>
                        </p>

                        <div *ngIf="error_signUp" class="alert alert-danger">
                            <strong>Error. </strong> Unable to register
                        </div>
                        
                    </div>
                    <p class="text-center">
                        Already have an account? <a [routerLink]="['/login']"> Login Now</a>
                    </p>
                    <p class="text-center">
                        <button type="submit" class="btn btn-primary" id="goBackbtn" [routerLink]="['/']">Go
                            Back</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12 mt-5 footer"></div>
    </div>
</section>