<div *ngIf="courseAdded" class="alert alert-success">
  <strong>COURSE ADDED</strong> correctly
</div>

<div class="container-fluid">
  <div class="form-container">
    <form class="form-group" [formGroup]="ifSaveCourse" #formDir="ngForm" (ngSubmit)="onSubmit(ifSaveCourse)" >
      <div class="form-group">
        <br>
        <label for="newName">Name</label>
        <input name="name" required="required" type="text" class="form-control" id="name" placeholder="Course name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="newName">Category</label>
        <select class="form-control" name="category"  formControlName="category"  required="required">
          <option *ngFor="let category of courseCategory" value="{{category}}">{{category}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="newName">Description</label>
        <input name="description" type="text" class="form-control" id="description" placeholder="Description" formControlName="description">
      </div>
      <div class="form-group">
        <label for="newName">Schedule</label>
        <input name="schedules" required="required" type="text" class="form-control" id="schedules" placeholder="Schedules" formControlName="schedule">
      </div>
      <div class="form-group">
        <input type="file" name="file" id="file" />
        <label for="file"></label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="ifSaveCourse">Save Course</button>
      </div>
    </form>
  </div>
</div>
