<div class="wrapper">
  <div class="sidebar" data-color="blue">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a [routerLink]="['/']" class="simple-text">urTeam</a>
      </div>
      <ul class="nav">
        <li>
          <a [routerLink]="['/admin/controlUsers']">
            <i class="fa fa-user"></i>
            <p>Gestión de usuarios</p>
          </a>
        </li>
        <li>
          <a [routerLink]="['/admin/controlCourses']">
            <i class="fa fa-users"></i>
            <p>Gestión de cursos</p>
          </a>
        </li>
        <li>
          <a [routerLink]="['events']">
            <i class="fa fa-flag"></i>
            <p>graficos</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
          <a class="navbar-brand" [routerLink]="['/']"><span class="fa fa-reply"></span> Volver</a>
        </div>
      </div>
    </nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
