<app-navbar-course-profile></app-navbar-course-profile>
<section class="margin">
  <div *ngIf="signup" class="alert alert-success">
    <strong>SIGNUP</strong> You have signed up correctly
  </div>
  <div *ngIf="quit" class="alert alert-danger">
    <strong>QUIT</strong> You have quitted correctly
  </div>
  <div class="container-fluid p-0">
    <div class="row" id="listCourses">
      <div class="col-lg-4 col-sm-6" *ngFor="let course of courses">
        <div class="portfolio-box">
          <img class="img-fluid" src="/assets/img/courses/{{course.name}}.jpg">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                {{course.name}}
              </div>
              <div class="project-description">
                {{course.description}}
                <hr>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer-course" *ngFor="let schedule of course.schedules">
          {{schedule.schedule}}
          <div *ngIf="isUserEnrolled(schedule)">
            <a class="btn btn-quit simple_confirmQuit" (click)="unEnroll( schedule.idSchedule)">QUIT</a>
          </div>
          <div *ngIf="!isUserEnrolled(schedule)">
            <div *ngIf="schedule.full">
              <a class="btn btn-dark simple_confirmQuit" disabled="">SOLD OUT</a>
            </div>
            <div *ngIf="!schedule.full">
              <a class="btn btn-sign simple_confirmSign" (click)="enroll( schedule.idSchedule)">SIGN UP</a>
            </div>
          </div>
          Capacity: {{schedule.listUsers.length}}/2
          <br>
        </div>
        <br>
      </div>
    </div>
    <div class="styleMoreEvents">
      <div id="spinner"></div>
      <p class="text-center">
        <button id="btnMoreCourses" type="button" class="btn btn-primary">See more</button>
    </div>
  </div>
</section>