<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 mx-auto">
        <div class="card border-none">
          <div class="card-body">
            <div class="mt-2"></div>
            <p class="mt-4 text-white lead text-center">Sign in to access your FitURJC account</p>
            <div class="mt-4">
              <form method="post" action="/login" novalidate (ngSubmit)="onSubmit(userLogin)" [formGroup]="userLogin">
                <div class="form-group">
                  <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" formControlName="email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" formControlName="password">
                </div>
                <label class="custom-control custom-checkbox mt-2">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description text-white">Keep me logged in</span>
                </label>
                <button type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login btn-primary" >Log In</button>
                <div *ngIf="error_login" class="alert alert-danger">
                  <strong>Login Error. </strong> Provided user name or password is invalid
               </div>
              </form>
              <div class="clearfix"></div>
              <p class="content-divider center mt-4">
                <span>or</span>
              </p>
            </div>
            <!-- FACEBOOK BOTTOM -->
            <form action="/signin/facebook" method="POST">
              <button class="loginBtnFacebook loginFacebook--facebook" type="submit">
                Login using Facebook
              </button>
              <input type="hidden" name="scope" value="public_profile,email" />
            </form>
            <br>
            <p class="text-center">
              Don't have an account yet?
              <a [routerLink]="['/register']" style="text-decoration: none;">Sign Up Now
              </a>
            </p>
            <form method="get" action="/">
              <button type="submit" class="btn btn-primary btn-block" [routerLink]="['/']">Go back
              </button>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>