<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Schedule</h2>
      <hr class="my-4">
      <div class="agenda">

        <div class="table-responsive">
          <table class="table table-condensed table-bordered">
            <thead>
              <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Event</th>
              </tr>
            </thead>


            <tbody *ngFor="let schedule of listScheduleWithUser">
              <tr >
                <td class="agenda-date" class="active" rowspan="1">
                  <div class="dayofmonth">22</div>
                  <div class="dayofweek">Sunday</div>
                  <div class="shortdate text-muted">April, 2018</div>
                </td>
                <td class="agenda-time">{{schedule.schedule}}</td>
                <td class="agenda-events" *ngFor="let users of schedule.listUsers">
                  <div class="agenda-event"> <strong> ID:</strong> {{schedule.idSchedule}} - {{users.name}}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <form method="get" action="/courses" >
        <button id="subscribe" type="submit" class="btn btn-warning" [routerLink]="['/courses']">
          Subscribe!</button>
      </form>

    </div>
  </div>
</div>
