
hr {
  max-width: 50px;
  border: 3px #F05F40;
}

hr.light {
  border-color: #fff;
}

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}


.text-faded {
    color:#ffffff
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

.input-group{
  width: 10rem;
}


.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}


.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px;
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em;
}


/* Times */
.agenda .agenda-time { width: 140px; }


/* Events */
.agenda .agenda-events {  }
.agenda .agenda-events .agenda-event {  }

@media (max-width: 767px) {

}



