<title>FitURJC Add Course</title>
<link rel="shortcut icon" href="img/iconLogo.ico" />

<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />
<meta name="viewport" content="width=device-width" />
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<!--  Light Bootstrap Table core CSS    -->
<link href="/css/light-bootstrap-dashboard.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="wrapper">
		<div class="sidebar" data-color="blue"
			data-image="/img/lateralAdmin.jpg">
			<div class="sidebar-wrapper">
				<div class="logo">
					<a href="/" class="simple-text"> FitURJC </a>
				</div>
				<ul class="nav">
					<li><a href="/adminPage/manageUsers"> <i
							class="fa fa-user"></i>
							<p>User management</p>
					</a></li>
					<li><a href="/adminPage/manageCourses"> <i
							class="fa fa-users"></i>
							<p>Course management</p>
					</a></li>
					<li><a href="/adminPage/graphics"> <i class="fa fa-flag"></i>
							<p>Graphics</p>
					</a></li>
				</ul>
			</div>
		</div>

		<div class="main-panel">
			<div class="container-fluid">
				<div class="form-container">
					<form class="form-group">
						<div class="form-group">
							<br> <label for="newName">Name</label> <input type="text"
								class="form-control" id="courseName" placeholder="Previous Name">
						</div>
						<div class="form-group">
							<label for="newName">Category*</label> <input type="text"
								class="form-control" id="courseCategory" placeholder="Category">
						</div>
						<div class="form-group">
							<label for="newName">Description</label> <input type="text"
								class="form-control" id="courseDescription"
								placeholder="Description">
						</div>
						<div class="form-group">
							<label for="newName">Schedule</label> <input type="text"
								class="form-control" id="courseSchedule" placeholder="Schedules">
						</div>
				</div>
				<div class="form-group">
					<label for="eventImage">Photo</label> <input type="file"
						class="form-control-file" id="courseImage"
						aria-describedby="fileHelp"> <small id="fileHelp"
						class="form-text text-muted"></small>
				</div>
				<div style="text-align: center;">
					<button type="submit" class="btn btn-primary ">Save</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</body>
