<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Usuarios</h4>
                </div>
                <div class="content">
                    <ul>
	                    {{#users}}
	                    	<li>
                    		<a href="/adminPage/manageUsers/delete/{{id}}"><i class="fa fa-times" aria-hidden="true"></i></a>
                    		<a href="/adminPage/manageUsers/">{{Name}}</a>
                    		<a href="/adminPage/manageUsers/">{{Surname}}</a>
                    		<a href="/adminPage/manageUsers/">"{{Nickname}}"</a>
                    		
                    		<p align="center" ><b>Email:</b> {{email}}<a href="/adminPage/manageUsers/"><i class="fa fa-pencil-square-o"></i></a></p>
                    	</li>
	                    {{/users}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
