<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h4 class="title">Courses</h4>
				</div>
				<div class="content">
					<ul>
						{{#courses}}

						<h4><u>{{name}} </u>: <h8>{{description}}</h8> </h4><br>

						<ul>

							{{#schedules}}
							<li type="circle"><a >Participants in Schedule {{idSchedule}}: {{listUsers.size}} </a></li>
							<li type="circle"><a>Users: {{listUsers}} </a> </li>
							{{/schedules}}
							<li type="circle"><a class="btn btn-main btn-enter btn" data-coursename="{{name}}" data-idcourse="{{id}}" onclick="deleteCourse(this)">Delete {{name}}<i class="fa fa-times" aria-hidden="true"></i></a></li>
						</ul>

						{{/courses}}
					</ul>
					<br>
					<a class="btn " href="/courses">
						View Current Courses</a>
					<a class="btn " href="/adminPage/manageCourses/addCourse">
						Add New Course</a>
				</div>
			</div>
		</div>
	</div>
</div>