<script type="text/javascript"
        src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {
        packages : [ "corechart" ]
    });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            [ 'Horario', 'Participantes' ],

            {{#stats}}
        [ '{{key}}', {{value}} ],
        {{/stats}}
        ]);

        var options = {
            title : 'Categories stadistics',
            pieHole : 0.4,
            backgroundColor: '',
            legend:{position: 'right', textStyle: {color: 'black', fontSize: 16}},
            titleTextStyle: { color: 'black', fontSize: 24, fontName: <Comic>}
        };

        var chart = new google.visualization.PieChart(document
            .getElementById('donutchart'));
        chart.draw(data, options);
    }
</script>
    <div id="donutchart" class="container-fluid "
     style="width: auto; height: 500px;"></div>