<div class="col-md-4">
	<div class="card">
		<img class="card-img-top" src="/img/courses/{{name}}.jpg"
			alt="{{name}}">
		<div class="card-footer">
		 {{#schedules}}
            <form action="/courses/{{id}}/{{idSchedule}}/add" method="post">
                <input class="btn btn-warning btn-block form-control"
                    id="idSchedule" name="idSchedule" value="{{schedule}}" /> <input
                    type="submit" class="btn btn-warning btn-block" value="subscribe" />
            </form>    <hr>
             {{/schedules}}
         </div>
	</div>
</div>