<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<title>FitURJC Facilities</title>
<link rel="shortcut icon" href="/img/iconLogo.ico" />

<meta name="description" content="Love Authority." />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/fontawesome-all.min.css">
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

<link rel="stylesheet" href="/css/facilities.css" />

</head>

<body>
	<section class="hero">
		<div class="container">
			<div class="row" id="listFacilities">
				{{#facilities}} {{> facility_template}} {{/facilities}} <br>
			</div>
			<br>
			<div class="styleMoreFacilities">
				<div id="spinner"></div>
				<p class="text-center">
					<button id="btnMoreFacilities" type="button"
						class="btn btn-primary">See more</button>
				<form method="get" action="/">
					<button id="goBack" type="submit" class="btn btn-warning">Go
						back</button>
				</form>
			</div>
		</div>
	</section>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/moreFacilities.js"></script>
</body>
</html>