<!DOCTYPE html>
<html>

<head>
    <title>FitURJC Login Error</title>
    <link rel="shortcut icon" href="/img/iconLogo.ico" />

    <meta name="description" content="Love Authority." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

    <link rel="stylesheet" href="/css/errorPage.css" />

</head>

<body>
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 mx-auto">
                    <div class="card border-none">
                        <div class="main">
                            <div class="card-body">
                                <div class="mt-4">
                                    <form method="post">
                                        <p class="Error">
                                            
                                        </p>
                                        <p class="text-center">

                                            <h2>Login Error</h2>
                                            <h5>Invalid user name or password.</h5>
                                        </p>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <p class="btn btn-primary btn-block" > <a
											href="/login">Go Back to Login</a>
										</p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>