<div class="agenda">
	<div class="table-responsive">
		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Event</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="agenda-date" class="active" rowspan="1">
						<div class="dayofmonth">26</div>
						<div class="dayofweek">Saturday</div>
						<div class="shortdate text-muted">July, 2014</div>
					</td>
					<td class="agenda-time">{{schedule}}</td>
					<td class="agenda-events">
						<div class="agenda-event">{{course.name}}</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>