<!DOCTYPE html>
<html lang="en">

<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'>

<meta charset="utf-8">
<title>FitURJC User</title>
<link rel="shortcut icon" href="/img/iconLogo.ico" />

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!— Bootstrap core CSS —>
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!— Custom fonts for this template —>
<link href="/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link
	href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css'>

<!— Plugin CSS —>
<link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

<!— Custom styles for this template —>
<link href="/css/creative.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/creative.min.css" />
<link rel="stylesheet" href="/css/calendar.css" />

</head>

<body id="page-top">

	<!-- Navigation  class="nav-link js-scroll-trigger"-->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top"
		id="mainNav">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navigation -->
			<div class="collapse navbar-collapse mecagoentodo"
				id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="/courses">Courses</a> <!-- poner curso.html cuando este creado -->
					</li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="#calendar">Calendar</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="#recomendation">Recomendation</a></li>
					<li class="nav-item">
						<ul class="navbar-nav ml-auto">
							<div class="btn-group">
								<button type="button" class="btn btn-danger">{{userPage.name}}</button>
								<button type="button" class="btn btn-danger dropdown-toggle"
									data-toggle="dropdown"></button>

								<ul class="dropdown-menu" role="menu">
									<li><a href="/profileSettings/{{userPage.id}}">Edit
											profile</a></li>
									<li><a href="/logout">Sign off</a></li>
								</ul>
							</div>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<header class="masthead text-center text-white d-flex">
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<section class="hero">
						<header>
							<h1>Your fitURJC profile</h1>
							<br>
						</header>
						<div class="container">
							<div class="row" id="card_body">
								<div class="col-md-3" id="personal_information">
									<span id="profile_pic">
										<img src="{{userPage.imgSrc}}"class="img-circle"alt="Profile Image" style='object-fit: contain' />
									</span> <br> <span id="user_name">
										<h4>{{userPage.name}},</h4>
										<h4>{{userPage.surname}}</h4>
									</span> <span id="age">
										<h5>{{userPage.age}} years</h5>
									</span>
								</div>
								<div class="col-md-8" id="performance_profile">
									<div id="information_user">
										<h3>
											Who am I?
											<h3>
												<p>{{userPage.description}}</p>
												<br>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-md-12 footer"></div>
						</div>
					</section>
					<h1 class="text-uppercase">
						<strong>Let's see your activity</strong>
					</h1>
				</div>
			</div>
		</div>
	</header>


	<section id="calendar">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Calendar</h2>
					<hr class="my-4"></hr>
					<div class="agenda">
						<div class="table-responsive">
							<table class="table table-condensed table-bordered">
								<thead>
									<tr>
										<th>Date</th>
										<th>Time</th>
										<th>Event</th>
									</tr>
								</thead>
								<tbody>
									<!-- Single event in a single day -->
									<tr>
										<td class="agenda-date" class="active" rowspan="1">
											<div class="dayofmonth">26</div>
											<div class="dayofweek">Saturday</div>
											<div class="shortdate text-muted">July, 2014</div>
										</td>
										<td class="agenda-time">5:30 AM</td>
										<td class="agenda-events">
											<div class="agenda-event">Aerobic</div>
										</td>
									</tr>

									<!-- Multiple events in a single day (note the rowspan) -->
									<tr>
										<td class="agenda-date" class="active" rowspan="3">
											<div class="dayofmonth">24</div>
											<div class="dayofweek">Thursday</div>
											<div class="shortdate text-muted">July, 2014</div>
										</td>
										<td class="agenda-time">8:00 - 9:00 AM</td>
										<td class="agenda-events">
											<div class="agenda-event">Zumba</div>
										</td>
									</tr>
									<tr>
										<td class="agenda-time">8:15 - 9:00 PM</td>
										<td class="agenda-events">
											<div class="agenda-event">Boxeo</div>
										</td>
									</tr>
									<tr>
										<td class="agenda-time">7:00 - 9:00 PM</td>
										<td class="agenda-events">
											<div class="agenda-event">Swimming</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<section id="recomendation">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">Recommendation</h2>
			<hr class="my-4"></hr>
			<div class="container-fluid p-0">
				<div class="row no-gutters">
					<div class="col-lg-4 col-sm-6">
						Map<Category, Long> counts = "user".getCourses().stream().map(course -> course.getCategory()).collect(Collectors.groupingBy(category -> category, Collectors.counting()));
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="contact">
		<div class="container"></div>
	</section>

	<!— Bootstrap core JavaScript —>
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!— Plugin JavaScript —>
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
	<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!— Custom scripts for this template —>
	<script src="js/creative.min.js"></script>

</body>

</html>