<section class="hero">
  <div class="container">
    <div class="card-body">
      <p class="mt-4 text-white lead text-center">FitURJC Profile Settings</p>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 section-heading">
        <span>
          <img class="img-circle img-responsive" src="../../assets/img/profile/default_user_trans.png">
          <!-- Aqui vendria edit mode-->
        </span><br>
          <div>
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
              <!--<input type="file"> AQUI NO ESTA ACABADO- REPASAR OTRA VEZ-->
              <button type="submit" name="update-image-submit" id="image-submit" tabindex="4"
                      class="form-control btn btn-login btn-primary">Update image
              </button>
            </form>
          </div>
        </div>
        <div class="col-lg-7 col-md-9 col-sm-7 col-xs-12">
          <div class="col-lg-12 col-md-12 col-sm-7 col-xs-12">
            <!--<p class="mt-2 text-white lead text-center"> FitURJC Account</p>-->
            <form method="post" action="/user/editedUser" enctype="multipart/form-data">
              <!--Mirar bien enlace action, hay un warning del directorio porque no está acabado-->
              <div class="form-group">
                <input type="text" class="form-control" name="name" formControlName="name"
                       placeholder="Name" value="Nombre del usuario">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="surname" formControlName="surname"
                       placeholder="Surname" value="Apellidos del usuario">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" formControlName="email"
                       placeholder="Email address" value="Email del usuario">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" formControlName="password"
                       placeholder="Enter new password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" formControlName="passwordRepeat"
                       name="confirm-password" placeholder="Confirm new password">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" formControlName="newAge"
                       name="age" placeholder="age" value="25">
              </div>
              <div style="float: left; width: 48%">
                <button type="submit" class="btn btn-primary btn-block">
                  Update
                </button>
              </div>
              <div style="float: right; width: 48%">
                <button type="reset" class="btn btn-primary btn-block">
                  Cancel
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Falta mirar bien los metodos de submit-->
</section>
