<div class="hero">
  <div class="container">
    <div class="card-body">
      <div class="card border-none">
        <div *ngIf="editMode == 0" class="mt-4 text-white lead text-center">FitURJC Profile Settings</div>
        <div class="row"></div>
        <br>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 section-heading">
            <div id="imageForm"
                 class="col-l-3 col-md-3 col-sm-3 col-xs-12 section-header wow fadeInDown">
					<span id="profile_pic"> <img [src]="getUriImage(userLogged.imgSrc)" class="img-circle" alt="Profile Image" style='object-fit: contain' />
					</span> <br>
              <div>
                <form class="form-horizontal" name="registration"id="formulario" method="post" [formGroup]="uploadImageFile" (ngSubmit)="uploadFileBasic(uploadImageFile)">
                  <input type="file" name="file" class="hidden" id="files"  (change)="selectFile($event)" /> <label
                  for="files" class="btn ">Upload Image</label>
                  <button class="btn btn-primary" (click)="changeEditMode(1)" >Update Image</button>
                </form>
              </div>
            </div>
          </div>
          <form form method="post" modelAttribute="user" [formGroup]="userUpdated" (ngSubmit)="onSubmit(userLogged.id,userUpdated)"
                class="form-horizontal col-lg-7 col-md-9 col-sm-7 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-7 col-xs-12">
              <div class="modal-body">
                <div class="row justify-content-md-center login-img"></div>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" name="name" formControlName="name" value="{{userLogged.name}}"
                         placeholder="Enter name here">
                </div>
                <div class="form-group">
                  <label>Surname</label>
                  <input type="text" class="form-control" name="surname" formControlName="surname" value="{{userLogged.surname}}"
                         placeholder="Enter surname here">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" name="email" formControlName="email" value="{{userLogged.email}}"
                         placeholder="Enter email here">
                </div>
                <div class="form-group">
                  <label>Age</label>
                  <input type="text" class="form-control" name="age" formControlName="age" value="{{userLogged.age}}"
                         placeholder="Enter age here">
                </div>
                <!-- Cambiar imagen -->
                  <div class="form-horizontal panel panel-default" *ngIf="editMode == 1">
                    <div class="panel-heading"><h3 class="text-muted dialog-title">Edit your profile picture</h3></div>
                    <div class="panel-body">
                      <form>
                        <div class=" btn btn-default form-group">
<!--
                          //DONDE PONE CANCEL - BTN HAY QUE CAMBIARLO PARA QUE HNO HAGA LA FUNCION DE CANCELAR
-->
                          <label for="cancel-btn">Subir imagen</label> <input type="file" (change)="selectFile($event)">
                        </div>
                        <div *ngIf="imageResponse" class="alert alert-secondary align-content-center">
                          <strong> Image updated </strong>
                        </div>
                        <div *ngIf="!imageResponse" class="alert alert-secondary align-content-center">
                          <strong> Not updated </strong>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="uploadImage()"> Save image</button>
                      </form>

                     <!-- Implementar cierre del dialogo para editar imagen
                      <span *ngIf="edit_mode != 0" class="btn btn-danger pull-right" (click)="saveChanges(false); imageResponse=false;"> Close</span>-->
                    </div>
                  </div>

              </div>
              <div class="row justify-content-md-center">
                <div class="col-12 col-md-auto btn-enter-div">
                  <div class="row">
                    <div class="col-md-6">
                      <input class="btn btn-warning " id="cancel-btn" type="reset" onclick="location.href='/user/profile';"
                             style="text-decoration: none;" value="Cancel" />
                    </div>
                      <div class="col-md-6">
                      <button type="submit" class="btn btn-primary">Save</button>
                        <br><br><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="notification" class="alert alert-success">
          <strong>USER EDITED</strong> Now you will be redirected to home page, log in again.
        </div>
      </div>
    </div>
  </div>
</div>
