<app-navbar></app-navbar>
<!--<section id="main-section"></section>-->
<header class="masthead text-center text-white d-flex" id="main-section">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <img src="assets/img/Logo2.png" alt="FitURJC-Logo">
        </h1>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">We have the perfect atmosphere, huge catalog of courses and a personalize workout plan for you</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#activities">Start Now</a>
      </div>
    </div>
  </div>
</header>

<section class="p-0" id="activities">
      <app-course></app-course>
</section>

<section id="professionals">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <span id="profile_pic">
            <img src="assets/img/teachers/teacher_1.jpg" class="img-circle" alt="Profile_Img_teacher1" style='object-fit: contain' />
          </span>
          <p class="text-muted mb-0">"Aequam memento rebus in arduis servare mentem"</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <span id="profile_pic">
            <img src="assets/img/teachers/teacher_2.jpg" class="img-circle" alt="Profile_Img_teacher2" style='object-fit: contain' />
          </span>
          <p class="text-muted mb-0">"Vires acquirit eundo"</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <span id="profile_pic">
            <img src="assets/img/teachers/teacher_5.jpg" class="img-circle" alt="Profile_Img_teacher3" style='object-fit: contain' />
          </span>
          <p class="text-muted mb-0">"Vitanda est improba siren desidia"</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <span id="profile_pic">
            <img src="assets/img/teachers/teacher_4.jpg" class="img-circle" alt="Profile_Img_teacher4" style='object-fit: contain' />
          </span>
          <p class="text-muted mb-0">"Si vis pacem, para bellum"</p>
        </div>
      </div>

    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="my-4">
        <p class="mb-5">Ready to start your next routine with us? That's great! Give us a call or send us an email and we will get back to
          you as soon as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 ml-auto text-center">
        <br>
        <br>
        <br>
        <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
        <p>123-456-6789</p>
        <br>
        <br>
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:your-email@your-domain.com">feedback@fiturjc.com</a>
        </p>

      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-map fa-3x mb-3 sr-contact"></i>

        <p>
        <!--  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7303.636623325415!2d-3.880327637495972!3d40.33392205034187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418e7adf68f543%3A0x841755428455a90b!2sUniversidad+Rey+Juan+Carlos!5e0!3m2!1ses!2ses!4v1521335189512"
            width="400" height="300" frameborder="0" style="border: 0" allowfullscreen></iframe>-->
          <Maps></Maps>
        </p>
      </div>
    </div>
  </div>
</section>
