<app-navbar-profile></app-navbar-profile>
<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <img src="assets/img/Logo2.png" alt="FitURJC-Logo">
        </h1>
      </div>
      <div class="container">
        <div class="row" id="card_body">
          <div class="col-md-3" id="personal_information">
            <div id="profile_pic">
              <img src="assets/img/profile/default_user_trans.png" class="img-circle" alt="Profile Image" style='object-fit: contain'>
              <!--AQUI VA LA IMAGEN DEL PAVO-->
            </div>
          </div>
          <div class="col-md-6 text-left" id="performance_profile">
            <div id="information_user">
              <h1>
                <strong> My data </strong>
              </h1>
              <br>
              <div id="user_name">
                <h4>Name: {{userLogged.name}}</h4>
                <h4>Surname: {{userLogged.surname}}</h4>

                <div id="age">
                  <h4>Years: edad del pavo</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h1 class="text-uppercase">
          <strong>Let's see your activity</strong>
        </h1>
      </div>
    </div>
  </div>
</header>
<section id="schedule">
  <app-schedule></app-schedule>
</section>

<section id="recommendation">
  <app-recomendation></app-recomendation>
</section>
