<div class="content"> 
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h4 class="title">Users</h4>
				</div>
				<div class="content" *ngFor="let user of users">
					<div>
						<h2>{{user.name}} {{user.surname}}</h2>
					</div>
					<div class="modal-content">
						<form action="/admin/editandsave/{{user.id}}" method="post" id="form_add_user" modelAttribute="user">
							<div class="modal-body">
								<div class="row justify-content-md-center login-img"></div>
								<div class="form-group">
									<label for="signup_username">Name</label>
									<input id="signup_username" type="text" class="form-control" name="name" value="{{user.name}}">
								</div>
								<div class="form-group">
									<label for="signup_username">Surname</label>
									<input id="signup_surname" type="text" class="form-control" name="surname" value="{{user.surname}}">
								</div>
								<div class="form-group">
									<label for="signup_email">Email</label>
									<input id="signup_email" type="text" class="form-control" name="email" value="{{user.email}}">
								</div>
								<div class="form-group">
									<label for="signup_password1">Password (Required)</label>
									<input id="signup_password1" class="form-control" name="passwordHash" required="required">
									<!--value="{{passwordHash}}">-->
								</div>
								<div class="form-group">
									<label for="age">Age</label>
									<input id="signup_age" class="form-control" name="age" value="{{user.age}}">
								</div>
								<div class="row justify-content-md-center">
									<div class="col-12 col-md-auto btn-enter-div">
										<div class="row">
											<div class="col-md-1">
												<button type="submit" class="btn btn-primary" onclick="saveUser(this)">Save</button>
											</div>
											<div class="col-md-1">
												<a class="btn btn-main btn-enter btn" data-username="name" data-iduser="id" onclick="deleteUser(this)"> Delete</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>